<%= form_for(@user) do |f| %>
<div id="ajax_output" contenteditable="true" style="background-color:black;font-size:10pt;font-family:Courier New;overflow-y:auto;height:1000px;width:1180px; display:none;"></div>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%=myhelp%>
  <div class="field">
    <%= f.label :fname %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :lname %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%#= f.submit, :class => 'submit_form' %>
    <%= f.submit 'Button Name',:id=>"hellloform", :class => 'my_form_btn',:style=>"display:none;" %>
  </div>
  
  
<% end %>



<%= submit_tag 'name of button here', :class => 'submit_class_name_here' %>



<script type="text/javascript">
  
$(document).on("click",".submit_class_name_here",function(){
  
    $("#hellloform").click();
    $('#ajax_output').show();
    $('#ajax_output').html("loading...")
  });


  //$("#user_salary").on("change",function(){
  // $(document).on("change","#user_salary",function(){
  // $(document).change("#user_salary",function(){

  // var fname=$("#user_fname").val();
  // // var salay=$("#user_salary").val();
  // if (salay==''){
  //   alert("please enter salary");
  //   $("#user_salary").val('');

  // }else{
  //   if(isNaN(parseInt(salay))){
  //     alert("please enter Number only");
  //   }else{
  //     $(".my_form_btn").click();
  //   }
  // }
//   var a=2;
//   var b=4;
//   var 
  
//   alert($('#user_salary').attr('id'));

// });
</script>